**/__pycache__
integration_tests/assets/plugind_only/tmp/*_success
integration_tests/assets/plugind_only/tmp/repo/
.coverage
.tox
coverage.xml
nosetests.xml
pep8.txt
pylint.txt
integration_tests/assets/plugind_only/tmp/*_failed
integration_tests/assets/plugind_only/tmp/fail_namespace
