cherrypy==3.7.0
flask==0.10.1
flask-cors==3.0.2
flask-restful==0.3.5
kombu==3.0.34
marshmallow==2.10.3
pyopenssl==0.14
python-consul==0.6.0
pyyaml==3.11
netifaces==0.10.4
requests==2.4.3
stevedore==1.17.1
git+https://github.com/wazo-pbx/xivo-auth-client.git
git+https://github.com/wazo-pbx/xivo-bus.git
git+https://github.com/wazo-pbx/xivo-lib-python.git
git+https://github.com/wazo-pbx/xivo-lib-rest-client.git
