#!/bin/sh
# Copyright 2017 The Wazo Authors  (see the AUTHORS file)
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        echo "Building..."
        false
        ;;
    package)
        echo "Packaging..."
        ;;
    install)
        echo "Installing..."
        ;;
    uninstall)
        echo "Removing..."
        ;;
    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
        ;;
esac
