https://github.com/wazo-pbx/xivo-test-helpers/archive/buster.zip
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/buster.zip
https://github.com/wazo-pbx/wazo-plugind-client/archive/buster.zip
docker-compose
kombu
mock
nose
openapi-spec-validator
pyhamcrest
requests
stevedore
