docker-compose
kombu
nose
pyhamcrest
requests
git+https://github.com/wazo-pbx/xivo-test-helpers.git
git+https://github.com/wazo-pbx/xivo-lib-rest-client.git
git+https://github.com/wazo-pbx/wazo-plugind-client.git
stevedore
mock
