[Unit]
Description=wazo-plugind server
After=network.target consul.target
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
Environment=PYTHONUNBUFFERED=TRUE
ExecStart=/usr/bin/wazo-plugind
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
