[Unit]
Description=wazo-plugind server
After=network.target consul.target
Before=monit.service

[Service]
Environment=PYTHONUNBUFFERED=TRUE
ExecStartPre=/usr/bin/install -d -o wazo-plugind -g wazo-plugind /run/wazo-plugind
ExecStart=/usr/bin/wazo-plugind
PIDFile=/run/wazo-plugind/wazo-plugind.pid

[Install]
WantedBy=multi-user.target
